* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  background: #f4f4f4;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #4b2e2a;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li:hover {
  background: #34495e;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px 30px;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.topbar h1 {
  font-size: 22px;
}

.account {
  font-size: 14px;
}

.account a {
  text-decoration: none;
  color: #e74c3c;
  margin-left: 5px;
}
.account a:hover {
  text-decoration: underline;
}

/* WELCOME */
.welcome {
  background: white;
  padding: 20px;
  border-radius: 6px;
}

/* LINK TRONG SIDEBAR */
.sidebar a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

/* HOVER */
.sidebar a:hover {
  color: white;
}

/* LI */
.sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar li:hover {
  background: #34495e;
}
